.navbar{
    background-color: #ffffff8f;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(2px);
    animation: color_fade linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
}

.colorFade{
    animation: text_fade linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
    color: rgb(0, 50, 100);
}

.boxShadow{
    box-shadow: 0 1px 4.5px 0px rgba(0, 0, 0, 0.5);
    animation: shadow_fade linear;
    animation-timeline: scroll();
    animation-range: 0 200px;
}


@keyframes color_fade{
    from {
        background-color: #0a1322;
        backdrop-filter: blur(0px);
    }
    to {
        background-color: #ffffff8f;
        backdrop-filter: blur(2px);
    }
}

@keyframes shadow_fade{
    from {
        box-shadow: 0 1px 4.5px 0px rgba(255, 255, 255, 0.5);
    }
    to {
        box-shadow: 0 1px 4.5px 0px rgba(0, 0, 0, 0.5);
    }
}


@keyframes text_fade{
    from {
        color: #ffffff;
    }
    to {
        color: rgb(0, 50, 100);
    }
}
